<section id="projects">
<div class="container">
  <h3>Projects</h3>
  <div class="panel panel-default">
    <div class="panel-body">
		<h5>
			<i class="fa fa-github"></i>&nbsp;&nbsp;<strong><a href="https://github.com/m-iDev-0792/HJ-Compiler">HJ Compiler</a></strong>
			 HJ language is a C-like language. This program includes a compiler for HJ language, an IDE with syntax highlighting and code completion and a virtual machine to run HJ codes.
		</h5>
		<h5>
			<i class="fa fa-github"></i>&nbsp;&nbsp;<strong><a href="https://github.com/m-iDev-0792/HJ-Editor">HJ Editor</a></strong>
			HJ editor is a simple C++ editor with syntax highlighting and code completion;
		</h5>
    	<h5>
			<i class="fa fa-github"></i>&nbsp;&nbsp;<strong><a href="https://github.com/m-iDev-0792/Gomoku2">Gomoku</a></strong>
			A Gomoku AI implemented with game tree, Alpha-Beta pruning, Heuristic searching, Zorbrist Hash and multi-thread techniques.
		</h5>
		<h5>
			<i class="fa fa-github"></i>&nbsp;&nbsp;<strong><a href="https://github.com/m-iDev-0792/TinyRayTracingRenderer">Ray Tracing Renderer</a></strong>
			A very basic ray tracing renderer that rendering Cornell Box scene. Monte-Carlo method, antialias, multi-thread and filter were used in this program.
		</h5>

    </div>
  </div>
</div>
</section>
