<section id="projects">
	<div class="container">
		<h3>Projects</h3>
		<div class="panel panel-default">
			<div class="panel-body">
				<h5>
					<i class="fa fa-github"></i>&nbsp;&nbsp;<strong><a
							href="https://github.com/m-iDev-0792/HJRT">HJRT</a></strong>
					HJRT is a portable C++ path tracing renderer which supports multi-material, multi-thread, BVH, depth
					of field,
					obj model loading and participate media. HJRT uses Dear Imgui as program GUI to show real-time
					rendering result and progress.
				</h5>
				<h5>
					<i class="fa fa-github"></i>&nbsp;&nbsp;<strong><a
							href="https://github.com/m-iDev-0792/PlantCreator">PlantCreator</a></strong>
					PlantCreator is an implementation of my bachelor thesis -- Sketch-based fast plant modeling. User
					can create 3D plant models with a few sketch strokes by using PlantCreator.
				</h5>
				<h5>
					<i class="fa fa-github"></i>&nbsp;&nbsp;<strong><a
							href="https://github.com/m-iDev-0792/HJGraphics">HJGraphics</a></strong>
					HJGraphics is a very simple 3D graphic framework based on OpenGL API. By using HJGraphics, you can
					create OpenGL environment and draw some funny 3D objects with a few lines of code.
				</h5>
				<h5>
					<i class="fa fa-github"></i>&nbsp;&nbsp;<strong><a
							href="https://github.com/m-iDev-0792/HJ-Compiler">HJ Compiler</a></strong>
					HJ language is a C-like language. This program includes a compiler for HJ language, an IDE with
					syntax highlighting and code completion and a virtual machine to run HJ codes.
				</h5>
				<h5>
					<i class="fa fa-github"></i>&nbsp;&nbsp;<strong><a
							href="https://github.com/m-iDev-0792/HJ-Editor">HJ Editor</a></strong>
					HJ editor is a simple C++ editor with syntax highlighting and code completion;
				</h5>
				<h5>
					<i class="fa fa-github"></i>&nbsp;&nbsp;<strong><a
							href="https://github.com/m-iDev-0792/Gomoku2">Gomoku</a></strong>
					A Gomoku AI implemented with game tree, Alpha-Beta pruning, Heuristic searching, Zorbrist Hash and
					multi-thread techniques.
				</h5>
				<h5>
					<i class="fa fa-github"></i>&nbsp;&nbsp;<strong><a
							href="https://github.com/m-iDev-0792/TinyRayTracingRenderer">Ray Tracing
							Renderer</a></strong>
					A very basic ray tracing renderer that rendering Cornell Box scene. Monte-Carlo method, antialias,
					multi-thread and filter were used in this program.
				</h5>

			</div>
		</div>
	</div>
</section>